* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svh;
}

nav {
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
}

ul {
  list-style: none;
  margin: 0 5rem;
  position: relative;
}

.main-list {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  padding: 1rem;
  color: #ccc;
}

.main-list li {
  font-size: 1.2rem;
  cursor: pointer;
}

.drop-container {
  position: relative;
  margin-left: auto;
}

.drop-item {
  z-index: 10;
}

.drop-list {
  opacity: 0;
  position: absolute;
  width: 8rem;
  background-color: rgba(200, 230, 255, 0.95);
  color: #111;
  transform: translateY(-3rem);
  left: -7rem;
  text-align: center;
  transition: all 0.4s linear;
  z-index: -10;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #aaa, -1px 0 3px #aaa;
}
@media screen and (max-width: 480px) {
  .drop-list {
    left: -10rem;
  }
}

.drop-list.visible {
  transform: translateY(2rem);
  opacity: 1;
}

.drop-list li {
  font-size: 1.1rem;
  border-bottom: 1px solid black;
  padding: 0.5rem 0;
}

.drop-list li:last-of-type {
  border-bottom: none;
}

.drop-list li:hover {
  background-color: lightblue;
}
.drop-list li:active {
  transform: translateY(-5px);
  transform: scale(0.98);
}

main {
  margin-top: 6rem;
  padding: 1rem 10rem;
}

h1 {
  padding: 2rem 0;
  font-size: 2.5rem;
}

p {
  font-size: 1.1rem;
  line-height: 2;
}
