* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}

nav {
  position: relative;
  z-index: 10;
}

ul {
  list-style: none;
}

.main-list {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 1rem;
  background: #333;
  color: #ccc;
}

.main-list > li {
  font-size: 1.2rem;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown li {
  margin-bottom: 0.5rem;
}

.drop-window {
  /* height: 0; */
  /* opacity: 0; */
  position: absolute;
  width: 10rem;
  background-color: #00ccff;
  color: #333;
  transform: translateY(-8rem);
  left: -1rem;
  padding: 1rem;
  text-align: center;
  transition: all 1s linear;
}
.drop-window.visible {
  height: auto;
  transform: translateY(1rem);
  opacity: 1;
}
